@import url(style.css);

.normalText{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.contactsBox{
    width: 40%;
    height: 80px;
    background-color: var(--bassBackgroundColor);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contactsSection{
    width: 100%;
    margin-top: 80px;
}




.addContactWindow{
    position: absolute;
    background-color: var(--bassBackgroundColor);
    width: 60%;
    height: 60vh;
    display: none;
}